@model WebApp.Models.Tenant

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Speaker</title>
</head>
<body>
    <div> 
        Tenant Name: @Model.Name
    </div>
</body>
</html>
